/* Styles for the App component */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
}

/* Styles for the SearchBar component */
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar input[type="text"] {
  width: 200px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.search-bar select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.search-bar button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

/* Styles for the Business component */
.business {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: calc(16.66% - 20px); /* Calculate the width for 6 columns with a 20px margin between them */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  margin: 10px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.business img {
  width: 100%;
  max-height: auto;
  object-fit: cover;
}

.business h2 {
  font-size: 14px;
  margin: 10px 0;
  text-align: left;
  white-space: nowrap; /* Prevent the text from wrapping */
  overflow: hidden; /* Hide any overflow text */
  text-overflow: ellipsis; /* Add ellipsis (...) to indicate hidden text if it overflows */
}

.business-address h3{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  font-size: 8px;
  margin: 3px 0;
  max-width: 100%;
}
.business-reviews h3 {
  text-align: right;
  font-size: 8px;
  margin: 3px 0;
  flex-basis: 100%;
  max-width: 100%;
}

.business-reviews .rating {
  color: #FFD700; /* Yellow color for star rating */
}

/* Styles for the BusinessList component */
.business-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Distribute the columns from start to end */
}

/* Add more styles as needed for other components or further customization */
